* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
    
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 92px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 20px black;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-h {
    cursor: pointer;
}

.header-h::after {
    content:".";
    color: #32b0c7;
}
.header-ol  {
    margin-top: 7px;
}

.header-li {
    display: inline-block; 
    font-size: 20px;
    padding-left: 86px;
}

.hd1 {
    color: #32b0c7 !important;
    text-decoration: underline;
    text-underline-offset: 16px;
}

.header-li-a {
    transition: underline .1s ease-in-out;
    color: rgb(120, 120, 120);
}

.header-li-a:hover {
    text-decoration: underline;
    text-underline-offset: 16px;
    color: #54b9cb;
}

.header-div {
    margin-top: 7px;
    font-size: 20px;
    background-color: #32b0c7;
    height: 42px;
    width: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .5s;
}

.header-a {
    text-decoration: none;
    color: #fff;
}

.header-div:hover {
    background-color: #54b9cb;
}

/* header closed */

/* banner opening */

.banner {
    padding-top: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner-h1::after {
    content: "HeroBiz";
    color: #54b9cb;
    display: inline-block;
}

.banner-p {
    font-size: 25px;
    margin-bottom: 10px;
    color: #777;
}

.banner-buttons {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.banner-b-button {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    height: 38px;
    width: 142px;
    font-size: 14px;
    background-color: #32b0c7;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.banner-watch-video-div {
    display: flex;
    left: 21px;
    position: relative;
    font-size: 16px;
}

.banner-play-a {
    display: flex;
    text-decoration: none;
    color: black;
}

.banner-svg {
    color: #32b0c7;
    font-size: 30px;
    margin-right: 10px;
}

.banner-watch-v {
    display: flex;
    align-items: center;
}
/* banner closed */

/* services opening */

.services-serv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serv-h {
    font-size: 50px;
    margin-bottom: 18px;
}

.serv-p {
    color: #777;
    margin-bottom: 40px;
}

.notes {
    display: flex;
    justify-content: space-evenly;
    
}


.notes-img-div {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px;
}

.notes-img-div:hover{
    border-radius: 10px;
}
.notes-img {
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.notes-img:hover {
    transform: scale(1.3);
    border-radius: 10px;
}

.notes-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 220px;
    background-color: hsla(0, 0%, 100%, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 black;
    position: relative;
    bottom: 83px;
    left: 35px;
}

.notes-cont:hover {
    color: #32b0c7;
}

.notes-cont:hover i {
    color: #32b0c7;
    background-color: white;
    border: 2px solid #32b0c7;
}

.notes-i {
    position: inherit;
    bottom: 33px;
    background-color: #54b9cb;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 19px;
    color: white;
    font-size: 24px;
    border: 5px solid white;
    transition: .5s;
}

.notes-h {
    margin-bottom: 35px;
    font-size: 30px;
    transition: .5s ;
}

.nh {
    margin-bottom: 14px;
}

.notes-p {
    margin-left: 20px;
    margin-right: 20px ;
    text-align: center;
    margin-bottom: 25px;
}

.notes-cont:hover p {
    color: black ;
}

/* service closed */

/* team opening */
.team-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.t-mems {
    display: flex;
    justify-content: space-evenly;
}

.t-img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.t-pos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 15px gray;
    border-radius: 10px;
    height: 120px;
    width: 364px;
}

.t-cen {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.t-ol {
    position: absolute;
    top: -20px;
}

.t-li {
    display: inline-block;
    
}

.t-i {
    color: #ffffff00;
    font-size: 20px;
    background-color: #32b1c700;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding-left: 11px;
    padding-top: 10px;
    margin-left: 10px;
    transition: .4s;
}

.t-pos:hover i {
    color: #ffffff;
    background-color: #32b1c7;
   
}

.team-h{
    font-size: 55px;
}

.team-p {
    font-size: 20px;
    width: 65%;
    text-align: center;
}
/* team closed */

/* conatacts starting */
.contacts {
    margin-top: 60px;
    display: flex;
    padding-left: 85px;
    margin-bottom: 100px;
}

.con-info   {
    background-color: #ffffff;
    width: 419px;
    height: 425px;
    padding: 42px;
    box-shadow: 0 0 15px gray;
    font-size: 12px;
    
}

.con-h {
    margin-bottom: 16px;
}

.con-p {
    color: #777;
    margin-bottom: 22px;
    font-size: 15px;
}

.con-phone, .con-email , .con-loc {
    display: flex;
}    

.con-i {
    color: #0098c6;
    margin-top: 22px;
    font-size: 19px;
}

.con-ol{
    list-style-type: none;
    margin-top: 16px;
    border-bottom: 1px solid #dadada;
    width: 324px;
}

.ol2 {
    border-bottom: 1px solid white;
}

.con-li , .con-li2{
    margin-left: 28px;
    margin-bottom: 10px;
}

.con-li2 {
    color: #777;
    font-size: 17px;
}


.con-fill {
margin-left: 66px;
}

.con-f-text {
    padding: 14px;
    padding-right: 223px;
    margin-right: 51px;
    margin-bottom: 30px;
}

.con-f-sub {
    padding: 14px;
    padding-right: 681px;
    margin-bottom: 30px;
}

.con-f-tarea {
    padding-left: 14px;
    padding-top: 10px;
}

/* contacts closed */


/* footer1 opening */
.base {
    display: flex;
    justify-content: space-around;
    padding: 70px  0;
    background-color: #485664;
    color: #fff;
    font-size: 14px;

    height: 407px;
}

.bs-padd-b {
    margin-bottom: 26px;
}


.bs-horo-h {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 26px;
}

.bs-h6 {
    font-size: 14px;
}
.bs-p {
    width: 130px;
    line-height: 28px;
}

.bs-ul {
    list-style-type: none;
    display: flex;
}

.bs-ul-li {
    display: flex;
}

.bs-c2 {
    margin-left: 145px;
}

.bs-p1 {
    width: 370px;
}

.bs-email {
    padding: 14px;
    padding-left: 158px;
    border-radius: 5px;
    border: 1px white solid
}

.bs-submit {
    font-size: 19px;
    padding: 11px;
    color: white;
    background-color: #0098c6;
    border-radius: 0 5px 5px 0;
    border: 1px #0098c6 solid;
    position: relative;
    right: 26px;
    top: 2px;

}
/* footer opening */
.footer {
    height: 100px;
    background-color: #3a4753;
    color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    
}

.cr1 {
    display: flex;
    margin-bottom: 5px;
}

.f1-span {
    padding: 0 4px;
    font-weight: 600;
}

.f1-a {
    text-decoration: none;
    color: #19ddfa;
}

.f1-ul {
    padding-top: 10px;
}

.f1-li {
    display: inline-block;
    background-color: #657a8d;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 23px;
    transition: .5s;
}

.f1-i {
    
    padding: 7px;
    height: 35px;
    width: 35px;
}

.f1-li:hover {
    background-color: #0ea2bd;
    
}